<header>
  <div class="row">
    <div class="column _25">
    </div>
    <div class="column _5">
      <a href="/"><img src="/assets/logo.png" alt="logo alt" class="header-img"></a>
    </div>
    <div class="column _25">
    </div>

  </div>
  <div class="row">
    <div class="column _5">
      <div class="nav-list">
        {#- Read more about `eleventy-navigation` at https://github.com/11ty/eleventy-navigation #}
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
      listClass: "nav",
      listItemClass: "nav-item",
      activeListItemClass: "nav-item-active",
      activeKey: eleventyNavigation.key
    }) | safe }}

      </div>
    </div>
  </div>
</header>
